/* line 1, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

/* line 14, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

/* line 20, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table td {
  padding: 5px;
  vertical-align: middle;
}

/* line 25, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

/* line 29, app/assets/stylesheets/change_layout/invoice.css.scss */
.right {
  text-align: right;
}

/* line 33, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

/* line 37, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

/* line 43, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

/* line 47, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

/* line 53, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.details td {
  padding-bottom: 20px;
}

/* line 57, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

/* line 61, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.item.last td {
  border-bottom: none;
}

/* line 65, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* line 76, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge:empty {
  display: none;
}

/* line 80, app/assets/stylesheets/change_layout/invoice.css.scss */
.btn .badge {
  position: relative;
  top: -1px;
}

/* line 85, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

/* line 91, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-primary {
  color: #fff;
  background-color: #007bff;
}

/* line 96, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

/* line 102, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

/* line 107, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #545b62;
}

/* line 113, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-success {
  color: #fff;
  background-color: #28a745;
}

/* line 118, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

/* line 124, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

/* line 129, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-info[href]:hover, .badge-info[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #117a8b;
}

/* line 135, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

/* line 140, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-warning[href]:hover, .badge-warning[href]:focus {
  color: #212529;
  text-decoration: none;
  background-color: #d39e00;
}

/* line 146, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

/* line 151, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #bd2130;
}

/* line 157, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

/* line 162, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-light[href]:hover, .badge-light[href]:focus {
  color: #212529;
  text-decoration: none;
  background-color: #dae0e5;
}

/* line 168, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-dark {
  color: #fff;
  background-color: #343a40;
}

/* line 173, app/assets/stylesheets/change_layout/invoice.css.scss */
.badge-dark[href]:hover, .badge-dark[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1d2124;
}

/* line 179, app/assets/stylesheets/change_layout/invoice.css.scss */
.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

/** RTL **/
/* line 199, app/assets/stylesheets/change_layout/invoice.css.scss */
.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

/* line 204, app/assets/stylesheets/change_layout/invoice.css.scss */
.rtl table {
  text-align: right;
}

/* line 208, app/assets/stylesheets/change_layout/invoice.css.scss */
.rtl table tr td:nth-child(2) {
  text-align: left;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 
 */
